<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo Access SAP</a>

        <span class="navbar-text">
            <p>01 23 45 67 89</p>
            <p>De lundi à vendredi de 9h à 18h</p>
        </span>
    </div>
</nav>