<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">PRÉSENTATION</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PROFESSIONNELS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PARTICULIERS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PARTENAIRES</a>
    </li>
</ul>